<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Bebidas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-card>
          <img src="assets/refris.png" alt="">
          <ion-item lines="none">
            <ion-label>Refrigerantes 350ml</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-badge color="darkmagenta">350ml</ion-badge>
          <ion-note slot="end" color="light">R$3,50</ion-note>
        </ion-item>
        </ion-card>


      </ion-col>
      <ion-col>
        <ion-card>
          <img src="assets/refr.jpg" alt="">
          <ion-item lines="none">
            <ion-label>Refrigerantes 600ml</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-badge color="darkmagenta">600ml</ion-badge>
            <ion-note slot="end" color="light">R$6,00</ion-note>
          </ion-item>
        </ion-card>

      </ion-col>


    <ion-col>
      <ion-card>
        <img src="assets/suco-de-laranja.jpg" alt="">
        <ion-item lines="none">
          <ion-label>Suco de Laranja</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-badge color="darkmagenta">jara 2L</ion-badge>
          <ion-note slot="end" color="light">R$15,00</ion-note>
        </ion-item>
          <ion-item>
          <ion-badge color="darkmagenta">Copo 250ml</ion-badge>
          <ion-note slot="end" color="light">R$9,00</ion-note>
        </ion-item>

      </ion-card>

    </ion-col>

    <ion-col>
      <ion-card>
        <img src="assets/refri2l.jpg" alt="">
        <ion-item lines="none">
          <ion-label>Refrigerantes 2L</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-badge color="darkmagenta">2L</ion-badge>
          <ion-note slot="end" color="light">R$10,00</ion-note>
        </ion-item>
      </ion-card>

    </ion-col>

    <ion-col>
      <ion-card>
        <img src="assets/abacaxi-com-hortela.jpg" alt="">
        <ion-item lines="none">
          <ion-label>Suco de Abacaxi com Hortelã</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-badge color="darkmagenta">jara 2L</ion-badge>
          <ion-note slot="end" color="light">R$11,00</ion-note>
        </ion-item>
          <ion-item>
          <ion-badge color="darkmagenta">Copo 250ml</ion-badge>
          <ion-note slot="end" color="light">R$9,00</ion-note>
        </ion-item>

      </ion-card>

    </ion-col>

    <ion-col>
      <ion-card>
        <img src="assets/aguaGas.jpg" alt="">
        <ion-item lines="none">
          <ion-label>Água</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-badge color="darkmagenta">Com gás</ion-badge>
          <ion-note slot="end" color="light">R$8,00</ion-note>
        </ion-item>
          <ion-item>
          <ion-badge color="darkmagenta">Sem gás</ion-badge>
          <ion-note slot="end" color="light">R$5,00</ion-note>
        </ion-item>

      </ion-card>

    </ion-col>

    <ion-col>
      <ion-card>
        <img src="assets/Morango.jpg" alt="">
        <ion-item lines="none">
          <ion-label>Suco de Morango</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-badge color="darkmagenta">Jara 2L</ion-badge>
          <ion-note slot="end" color="light">R$12,00</ion-note>
        </ion-item>
          <ion-item>
          <ion-badge color="darkmagenta">Copo 250ml</ion-badge>
          <ion-note slot="end" color="light">R$8,00</ion-note>
        </ion-item>

      </ion-card>

    </ion-col>

    <ion-col>
      <ion-card>
        <img src="assets/milk shake.jpg" alt="">
        <ion-item lines="none">
          <ion-label>Milk Shak 500ml</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-badge color="darkmagenta">500ml</ion-badge>
          <ion-note slot="end" color="light">R$7,00</ion-note>
        </ion-item>


      </ion-card>

    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
