<ion-header [translucent]="true">
  <ion-toolbar color="escurinho">
    <ion-title>
      Lanches
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item lines="none">

    <ion-label color="Dark">
      <div> <h2>Cardápio</h2></div>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="assets/download.jpg">
    </ion-thumbnail>
    <ion-label>
      <div class="item-lanche ion-text-wrap">
          <h3>X-Reverso</h3>
        <p>Alface,Hambúrguer,Tomate,Presunto,,Mussarela</p>
      </div>
  </ion-label>

    <ion-badge color="light">
      R$ 12,00

      </ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="assets/x-frango.jpg">
    </ion-thumbnail>
    <ion-label>
      <div>
        <h3>Mister Bug</h3>
        <h4>Frago,Maionese,Tomate</h4>
        <h4>Mussarela,Alface</h4>
    </div>
    </ion-label>
    <ion-badge color="light">R$ 16,00</ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="assets/bacon.jpg">
    </ion-thumbnail>
    <ion-label>
      <h3>Bacon Moth</h3>
    <h4>Maionese,Hambúrguer</h4>
      <h4>Mussarela,Alface</h4>
        <h4>Tomate,Bacon</h4>
  </ion-label>
  <ion-badge color="light">
    R$17,00

  </ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="assets/egg.jpg">
    </ion-thumbnail>
    <ion-label>X Plagg
      <h4>Maionese, Hambúrgue,Mussarela</h4>
      <h4>Presunto,Ovo,Tomate,Alface</h4>
    </ion-label>
    <ion-badge  color="light">R$ 15,00</ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="assets/duplo.jpg">
    </ion-thumbnail>
    <ion-label>Lady Duplo
      <h4>Mussarela,Maionese,Tomate </h4>
      <h4>Alface,2Hambúrguer</h4>
    </ion-label>
    <ion-badge color="light">R$ 13,00</ion-badge>
  </ion-item>

  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="assets/tudoo.jpg">
    </ion-thumbnail>
    <ion-label>Cataclismo
      <h4>Mussarela,Maionese,Tomate, </h4>
      <h4>Alface,Hambúrguer</h4>
      <h4>Milho,Ovo,Calabresa</h4>
      <h4>Bacon,Batata Palha</h4>
    </ion-label>
    <ion-badge color="light">R$ 20,00</ion-badge>
  </ion-item>
</ion-content>
